.footer {
  margin-top: 156px; 
  border-top: 1px solid var(--color-border-subtle);
  padding: 24px;
  display: flex;
  width: 100%;
  align-items: center; 
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: var(--color-text-muted);
  box-sizing: border-box;
}